<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Authentication demo</title>

    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css">
</head>
<body>
<h4>Log in</h4>
<h4 th:text="${message}" th:class="${message_type}">_message_</h4>

<form action="login" method="POST">
     <label for="username_field"> User name: </label>
     <input id="username_field" type="text" name="username" required/> <br/>
     <label for="password_field"> User password: </label>
     <input id="password_field" type="password" name="password" required/><br/>
     <label class="login_field"> </label>
     <input type="submit" value="OK"/>
</form>

<h5>If you have any problems, please contact <span th:text="${#servletContext.getInitParameter('admin_email')}"></span></h5>
</body>
</html>