<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>_TITLE_</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css">
</head>
<body>

    <div th:fragment="banner">
        <img id="logo" th:src="@{/graphics/Awesome.png}" src="../../graphics/Awesome.png" alt="banner pic"/>
        <h1 id="banner_title">Welcome, ye of lesser quality</h1>
    </div>

    <div th:fragment="menu" class="admin">
        <a href="#">my secret content</a>
    </div>
    <div th:fragment="menu" class="normaluser">
        <a href="#">my regular content</a>
    </div>

    <div>
        <h2>Template layout</h2>
        <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum."
        </p>
    </div>


    <div th:fragment="footer(pub)">
        &copy; 2018 Team Awesome. Please don't contact us; we are too busy!<br/>
        But if you really need to communicate, you can find us at the local pub:
        <span th:text="${pub}">_PUB_</span><br />
    </div>

</body>
</html>