<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Thymeleaf demo</title>

    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css">

</head>
<body>
<h1 th:text="#{page.title}">Offline title</h1>

<h2>Thymeleaf expression types</h2>

<h3>The #{} element</h3>
<p>
    The #{} element fetches locale-dependent text from the resource bundle
</p>

<h5>Note: for efficiency purposes (my time), only English text will be displayed from here on</h5>

<h4>Escaping messages</h4>
<p>If you do not want escaped text (where html will be dealt as regular text), as here</p>

<p th:text="#{favourite}"></p>

<p>Use 'th:utext'</p>

<p th:utext="#{favourite}"></p>

<h3>Messages with variables</h3>

<p>It is easy to insert variables into your messages. Give the message identifier an argument</p>

<code>
    &lt;p th:text=&quot;#{animal('black widow spider')}&quot;&gt;&lt;/p&gt;<br/>
    &lt;p th:text=&quot;#{animal('rattlesnake')}&quot;&gt;&lt;/p&gt;
</code>

<p th:text="#{animal('black widow spider', 'animal')}"></p>
<p th:text="#{animal('rattlesnake', 'animal')}"></p>


<h3>The ${} element</h3>
<p>
    The ${} element fetches variable from the model <br/>
    This warning is fetched from the model object using <br/>
    <code>ctx.setVariable("warning", "you must be over 18 to drive a car");</code>; <br/>
    you use the WebContext object to communicate data to your Thymeleaf view <br/>
    This Thymeleaf/html element <code><span th:text="${warning}"></span></code> will give this:
    warning = <span th:text="${warning}">_offline_</span>
    <br />

    <span th:text="${'The person currently logged in is' + person.fullName}">_offline_</span>
</p>

<h4>The session object</h4>
<p>
    The session object is simply available as session. <br/>
    The expression <code>${session.user.email}</code> will display the 'email' property of
    the User object registered as attribute on the 'session' object:
    <code>session.setAttribute("logged_in_user", new User("Henk", "henk@example.com", Role.USER));</code>
    will give <br/>
    <span th:text="${session.logged_in_user.email}">_offline_</span>
</p>


<h4>The ${#} subtype</h4>
<p>
    The ${#} accesses helper objects. Here are some examples: <br/><br/>
    The '#locale' helper can do things like this:
</p>
<ul>
    <li>The Language set on your browser: <code>${#locale.getLanguage()}</code> :
        <span th:text="${#locale.getLanguage()}">_offline_</span></li>
    <li>The Country set on your browser (empty when not set): <code>${#locale.getCountry()}</code> :
        <span th:text="${#locale.getCountry()}">_offline_</span></li>
    <li>The Display name of your locale set on your browser: <code>${#locale.getDisplayName()}</code> :
        <span th:text="${#locale.getDisplayName()}">_offline_</span></li>
</ul>

<p>
    '#dates' and '#calendars' helps with dates <br/>
    Given 'my_date' set on the web context model; <br/>
</p>
<ul>
    <li>
        <code>${my_date}</code> gives
        Date=<span th:text="${my_date}">_offline_</span>
    </li>
    <li>
        <code>${#dates.format(my_date)}</code>
        gives <span th:text="${#dates.format(my_date)}">_offline_</span>
    </li>
    <li>
        <code>${#dates.format(my_date, 'yyyy/mm/dd HH:mm')}</code>
        gives <span th:text="${#dates.format(my_date, 'yyyy/mm/dd HH:mm')}">_offline_</span>
    </li>
    <li>
        and <code>${#dates.formatISO(my_date)}</code> gives <span
            th:text="${#dates.formatISO(my_date)}">_offline_</span>
    </li>
</ul>

<p>
    '#numbers' helps with numbers<br/>
    Given 'my_date' set on the web context model;
</p>
<ul>
    <li>
        <code>${my_number}</code> gives
        My number=<span th:text="${my_number}">_offline_</span>
    </li>
    <li>
        <code>${#numbers.formatDecimal(my_number, 0, 'COMMA', 2, 'POINT')}</code>
        gives <span th:text="${#numbers.formatDecimal(my_number, 0, 'COMMA', 2, 'POINT')}">_offline_</span>
        <br />
        and <span th:text="${#numbers.formatInteger(my_number, 10, 'POINT')}">_offline_</span>
    </li>
</ul>


<h3>Locally scoped variables with *{}</h3>
<p>
    With a locally scoped object, you can access it through the *{} syntax: <br/>

    Given the User object of the session example, you can list its properties as follows: <br/>
    <code>
        &lt;ul th:object=&quot;${session.logged_in_user}&quot;&gt;<br/>
        &lt;li&gt;Name: &lt;span th:text=&quot;*{name}&quot;&gt;_name_&lt;/span&gt;&lt;/li&gt;<br/>
        &lt;li&gt;Email: &lt;span th:text=&quot;*{email}&quot;&gt;_email_&lt;/span&gt;&lt;/li&gt;<br/>
        &lt;li&gt;Role: &lt;span th:text=&quot;*{role}&quot;&gt;_role_&lt;/span&gt;&lt;/li&gt;<br/>
        &lt;/ul&gt;<br/>
    </code>
</p>
<ul th:object="${session.logged_in_user}">
    <li>Name: <span th:text="*{name}">_name_</span></li>
    <li>Email: <span th:text="*{email}">_email_</span></li>
    <li>Role: <span th:text="*{role}">_role_</span></li>
</ul>

<h3>Creating links: @{}</h3>
<p>
    Using the @{} syntax, you can create links with a path that is relative to the deployment context.<br/>
    <code>&lt;a th:href=&quot;@{/give.phrase(phrase_category=bullshit)}&quot; href=&quot;#&quot;&gt;get a bullshit
        phrase&lt;/a&gt; </code> <br/>
    will give the following link (hover it to see its full path):
    <a th:href="@{/give.phrase(phrase_category=bullshit,action=nothing)}" href="#">get a bullshit phrase</a>
</p>

<h3>Inline expressions</h3>

<p>
    Sometimes, it is not desirable to have your variables expressed within tag attributes. Instead, you want raw html text.
    This is especially the case with Javascript. Here are its variants:
</p>

<p>Simple text: access a variable attribute: Hello, <span>[[${session.logged_in_user.name}]]!</span></p>

<button id="say_hello">Say hello!</button>

<script th:inline="javascript">
    var user = [[${session.logged_in_user.name}]];
    document.getElementById("say_hello").onclick = function() {
        alert("Hi, " + user);
    }
</script>

<h2>Flow control</h2>

<p>
    The following series of examples all make use of the Movie class
</p>
<h3>Iteration</h3>
<p>
    Iteration with Thymeleaf is as simple as in Java code; simply use <code>th:each</code><br/>

    This is an example with the movies list:
<br />
    <code>
        &lt;table&gt;<br/>
        &lt;thead&gt;<br/>
        &lt;tr&gt;<br/>
        &lt;th&gt;Title&lt;/th&gt;&lt;th&gt;Year of release&lt;/th&gt;&lt;th&gt;IMDB rating&lt;/th&gt;<br/>
        &lt;/tr&gt;<br/>
        &lt;/thead&gt;<br/>
        &lt;tbody&gt;<br/>
        &lt;tr th:each=&quot;movie:${movies}&quot;&gt;<br/>
        &lt;td th:text=&quot;${movie.title}&quot;&gt;_title_&lt;/td&gt;<br/>
        &lt;td th:text=&quot;${movie.year}&quot;&gt;_year_&lt;/td&gt;<br/>
        &lt;td th:text=&quot;${movie.rating}&quot;&gt;_rating_&lt;/td&gt;<br/>
        &lt;/tr&gt;<br/>
        &lt;/tbody&gt;<br/>
        &lt;/table&gt;<br/>
    </code>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Year of release</th>
        <th>IMDB rating</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie:${movies}">
        <td th:text="${movie.title}">_title_</td>
        <td th:text="${movie.year}">_year_</td>
        <td th:text="${movie.rating}">_rating_</td>
    </tr>
    </tbody>
</table>

alternatively, use the local scope syntax: <br/>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Year of release</th>
        <th>IMDB rating</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie:${movies}" th:object="${movie}">
        <td th:text="*{title}">_title_</td>
        <td th:text="*{year}">_year_</td>
        <td th:text="*{rating}">_rating_</td>
    </tr>
    </tbody>
</table>

<p>
    You can also sort it in Thymeleaf. Given an extra model parameter passed from the servlet, and the utility
    object #lists. Of course, sorting is something you usually leave to your Javascript front-end (Datatables.js)
</p>
<code>
    ctx.setVariable(&quot;movies_year_sorter&quot;, (Comparator&lt;Movie&gt;) (o1, o2) -&gt;
    Integer.compare(o1.getYear(), o2.getYear()));
</code>
<p> and in the Thymeleaf template </p>
<code>
    &lt;tr th:each=&quot;movie:${#lists.sort(movies, movies_year_sorter)}&quot;&gt;
</code>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Year of release</th>
        <th>IMDB rating</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie:${#lists.sort(movies, movies_year_sorter)}">
        <td th:text="${movie.title}">_title_</td>
        <td th:text="${movie.year}">_year_</td>
        <td th:text="${movie.rating}">_rating_</td>
    </tr>
    </tbody>
</table>


<p>
    Thymeleaf also provides a mechanism that stores the state of the iteration process.
    It has several useful properties:
<ul>
    <li>index: the current iteration index, starting with 0 (zero)</li>
    <li>count: the number of elements processed so far</li>
    <li>size: the total number of elements in the list</li>
    <li>even/odd: checks if the current iteration index is even or odd</li>
    <li>first: checks if the current iteration is the first one</li>
    <li>last: checks if the current iteration is the last one</li>
</ul>
</p>
<p>
    The next piece of code demonstrates the use of this iteration statistics object, as well as another technique: the
    if/else ternary operator for Thymeleaf. This example shows you can even nest these.
</p>
<code>
    &lt;table&gt;<br/>
    &lt;thead&gt;<br/>
    &lt;tr&gt;<br/>
    &lt;th&gt;Pos&lt;/th&gt;&lt;th&gt;Title&lt;/th&gt;&lt;th&gt;Year of release&lt;/th&gt;&lt;th&gt;IMDB rating&lt;/th&gt;<br/>
    &lt;/tr&gt;<br/>
    &lt;/thead&gt;<br/>
    &lt;tbody&gt;<br/>
    <strong>&lt;tr th:each=&quot;movie, it_stat:${movies}&quot; th:class=&quot;${it_stat.first} ? 'first' : (${it_stat.even} ?
        'even' : 'odd')&quot;&gt;</strong><br/>
    &lt;td th:text=&quot;${it_stat.count} + ' / ' + ${it_stat.size}&quot;&gt;&lt;/td&gt;<br/>
    &lt;td th:text=&quot;${movie.title}&quot;&gt;_title_&lt;/td&gt;<br/>
    &lt;td th:text=&quot;${movie.year}&quot;&gt;_year_&lt;/td&gt;<br/>
    &lt;td th:text=&quot;${movie.rating}&quot;&gt;_rating_&lt;/td&gt;<br/>
    &lt;/tr&gt;<br/>
    &lt;/tbody&gt;<br/>
    &lt;/table&gt;<br/>
</code>
<br/>

<table>
    <thead>
    <tr>
        <th>Pos</th>
        <th>Title</th>
        <th>Year of release</th>
        <th>IMDB rating</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie, it_stat:${movies}" th:class="${it_stat.first} ? 'first' : (${it_stat.even} ? 'even' : 'odd')">
        <td th:text="${it_stat.count} + ' / ' + ${it_stat.size}"></td>
        <td th:text="${movie.title}">_title_</td>
        <td th:text="${movie.year}">_year_</td>
        <td th:text="${movie.rating}">_rating_</td>
    </tr>
    </tbody>
</table>

<h3>Conditionals: if</h3>
<p>
    Besides the ternary operator structure shown in the previous example, regular if test can be applied. Here, there is
    a test for the rating of the movie; only movies with a rating higher than 9 are displayed:
</p>

<code>
    &lt;ul th:each=&quot;movie:${movies}&quot;&gt;<br />
    &lt;li th:text=&quot;${movie.title} + ' (' + ${movie.year} + ') - ' + ${movie.rating}&quot; <strong>th:if=&quot;${movie.rating &gt;= 9}</strong>&quot;&gt;_movie_&lt;/li&gt;<br />
    &lt;/ul&gt;<br />
</code>

<ul>
    <li th:each="movie:${movies}" th:text="${movie.title} + ' (' + ${movie.year} + ') - ' + ${movie.rating}" th:if="${movie.rating >= 9}">_movie_</li>
</ul>

<p>
    The specified expression evaluates to <strong>true</strong> following these rules:
<ul>
    <li>If value is not null:
    <ul>
        <li>If value is a boolean and is true.</li>
        <li>If value is a number and is non-zero</li>
        <li>If value is a character and is non-zero</li>
        <li>If value is a String and is not “false”, “off” or “no”</li>
        <li>If value is not a boolean, a number, a character or a String.</li>
    </ul>
    </li>
    <li>
        (If value is null, th:if will evaluate to false).
    </li>
</ul>
</p>

<p>
The Thymeleaf `th:if` attribute has an inverse attribute, `th:unless`.
This makes an if/else-like structure possible.
</p>

<code>
    <ul>
        <th:block th:each="movie : ${movies}">
            <li th:if="${movie.rating >= 9}" th:text="${movie.title} + ' (' + ${movie.year} + ') - ' + ${movie.rating} + ' - WOW!'" ></li>
            <li th:unless="${movie.rating >= 9}" th:text="${movie.title} + ' (' + ${movie.year} + ') - ' + ${movie.rating} + ' - JUST OK'" ></li>
        </th:block>
    </ul>
</code>

<ul>
    <th:block th:each="movie : ${movies}">
        <li th:if="${movie.rating >= 9}" th:text="${movie.title} + ' (' + ${movie.year} + ') - ' + ${movie.rating} + ' - WOW!'" ></li>
        <li th:unless="${movie.rating >= 9}" th:text="${movie.title} + ' (' + ${movie.year} + ') - ' + ${movie.rating} + ' - JUST OK'" ></li>
    </th:block>
</ul>


<h3>Conditionals: switch</h3>
<p>
    Here you see a combination of iteration and switch/case to build an ordered list.
</p>
<code>
    &lt;ol&gt;<br/>
&nbsp;&nbsp;    &lt;li th:each=&quot;user:${users}&quot; <strong>th:switch=&quot;${user.role.toString()}&quot;&gt;</strong><br/>
&nbsp;&nbsp;    &lt;span <strong>th:case=&quot;${&apos;ADMIN&apos;}&quot;</strong> th:text=&quot;${user.name} + &apos; (&apos; + ${user.role} + &apos;) manages all accounts&apos;&quot;&gt;_admin_&lt;/span&gt;<br/>
&nbsp;&nbsp;    &lt;span <strong>th:case=&quot;${&apos;USER&apos;}&quot;</strong> th:text=&quot;${user.name} + &apos; (&apos; + ${user.role} + &apos;) can browse and share all site content&apos;&quot;&gt;_user_&lt;/span&gt;<br/>
&nbsp;&nbsp;    &lt;span <strong>th:case=&quot;${&apos;GUEST&apos;}&quot;</strong> th:text=&quot;${user.name} + &apos; (&apos; + ${user.role} + &apos;) can only see our front page&apos;&quot;&gt;_guest_&lt;/span&gt;<br/>
&nbsp;&nbsp;    &lt;span <strong>th:case=&quot;*&quot;</strong> th:text=&quot;${user.name} + &apos;(&apos; + ${user.role} + &apos;) we do not know this role&apos;&quot;&gt;_unknown_&lt;/span&gt;<br/>
&nbsp;&nbsp;    &lt;/li&gt;<br/>
    &lt;/ol&gt;<br/>
</code><br/>

<ol>
    <li th:each="user:${users}" th:switch="${user.role.toString()}">
        <span th:case="${'ADMIN'}" th:text="${user.name} + ' (' + ${user.role} + ') manages all accounts'">_admin_</span>
        <span th:case="${'USER'}" th:text="${user.name} + ' (' + ${user.role} + ') can browse and share all site content'">_user_</span>
        <span th:case="${'GUEST'}" th:text="${user.name} + ' (' + ${user.role} + ') can only see our front page'">_guest_</span>
        <span th:case="*" th:text="${user.name} + '(' + ${user.role} + ') we do not know this role'">_unknown_</span>
    </li>
</ol>

<h3>Attributes you can access</h3>

<p>
    You have seen attributes such as "th:text" a lot now. But there are many many more.
    Have a look at <a href="https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#setting-value-to-specific-attributes">
    the Thymeleaf docs</a> for a complete listing. <br />
    Here are the main ones:
</p>

<ul>
    <li><code>th:action</code> - the action of a form</li>
    <li><code>th:class</code> - the style class of an element</li>
    <li><code>th:href</code> - the url a link will point to</li>
    <li><code>th:id</code> - the ID of an element</li>
    <li><code>th:name</code> - the name of an element</li>
    <li><code>th:rel</code> - url for style sheets</li>
    <li><code>th:src</code> - the source of an element (e.g. image)</li>
    <li><code>th:title</code> - the title</li>
    <li><code>th:value</code> - the value of a (form) element, e.g. <code></code></li>
    <li><code>th:attr</code> - a generic means to define any attribute, e.g. <code>th:attr="dat=#{subscribe.submit}"</code></li>
</ul>

<p>
    Here is an example demonstrating some of these:
</p>

<code>
    //Java
    ctx.setVariable("name_of_bird_selector", "fav_birds");<br/>
    ctx.setVariable("bird_groups", List.of("raptors", "songbirds", "waders", "wildfowl"));<br/>
    //HTML
    &lt;select th:name=&quot;${name_of_bird_selector}&quot;&gt;<br/>
    &lt;option th:each=&quot;bird_cat:${bird_groups}&quot;<br/>
    th:value=&quot;${bird_cat}&quot;<br/>
    th:text=&quot;'The ' + ${bird_cat}&quot;<br/>
    th:id=&quot;${bird_cat + '_option'}&quot;<br/>
    value=&quot;_bird_cat_&quot;&gt;_bird_cat_&lt;/option&gt;<br/>
    &lt;/select&gt;<br/>
</code>

<p>Resulting in this</p>

<select th:name="${name_of_bird_selector}">
    <option th:each="bird_cat:${bird_groups}"
            th:value="${bird_cat}"
            th:text="'The ' + ${bird_cat}"
            th:id="${bird_cat + '_option'}"
            value="_bird_cat_">_bird_cat_</option>
</select>

<h3>Working with fragments</h3>

<p>
    Parts of your pages will be reused over multiple other pages. Specifically, this is the case for banners, footers
    and headers. Instead of copy-and-paste, Thymeleaf offers a nice mechanism for reusing page fragments. The strategy
    of choice here is to create a single Thymeleaf html page called template or fragments and to include elements of
    this page in others. <br />
    Consider <a th:href="@{/template}">this template</a><br />

    Now let's include the banner here
</p>

<div th:insert="~{template :: banner}"></div>
<div th:insert="template :: banner"></div>

<p>and for the heck of it, also the footer, but this time with a variable called pub:</p>

<div th:insert="~{template :: footer(${the_pub})}"></div>

<div th:replace="~{template :: (${users[0].getRole().toString() == 'ADMIN'} ? 'menu.admin' : 'menu.normaluser')}"></div>
<br /><br />



</body>
</html>