<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>File Upload</title>

</head>
<body>
<h1>Data Upload</h1>
<p>Please upload a csv file with your comma-seperated values.</p>

<h4 th:text="${message}">_message_</h4>

<form th:action="@{'data_upload'}" method="post" enctype="multipart/form-data">
    <input type="file" name="scv_data" accept="text/csv">
    <input type="submit" value="Upload" />
</form>

</body>
</html>